/*personalization*/
.app_logo{
  width: 150px;
  height: 150px;
  box-sizing: border-box;
}

.center_div{
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}


/* app header */
.app_header{
  width: 100%;
  height: 50px;
  padding: 5px;
  position: fixed;
  box-sizing: border-box;
  top: 0;
  left: 0;
  right: 0;
}

.app_icon{
  width: 40px;
  height: 40px;
  display: block;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  color: rgba(136, 158, 233, 0.6);
}

.app_icon:hover{
  color: rgba(136, 158, 233, 1);
}

.menu_icon {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 18px !important;
    color: #2196f3;
}

.menu {
    position: static;
    left: 0;
    top: 0;
    margin: 4px;
}
