.header{
	background-color: white;
	position: absolute;
	width: 400px;
	height: 400px;
	margin: auto;
	top: 0;
	right: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.menu-icon{
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 18px !important;
	color: #2196f3;
}

.menu{
	position: static;
	left: 0;
	top: 0;
	margin: 4px;
}