@charset "UTF-8";
@import url('font.css');
@import url('app.css');
@import url('user.css');
@import url('../font/typicons.min.css');
* {
		box-sizing: border-box;
}

html,
body {
		margin: 0;
}

body{
		font-family: "CourierPrime", courier, monospace;
		-webkit-font-smoothing: subpixel-antialiased;
		font-size: 14px;
		color: #31486E;
		/*
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;*/
}

/*index pgcolor*/
.index{
	background-color: #262D47;
}

.fl_left{
	float: left;
}

.fl_right{
	float: right;
}

a ,a.link, a.visited, a.hover {
		color: #31486E;
		opacity: 0.82;
		text-decoration: none;
}


/*smooth transition*/

.smooth {
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
}

red {
		color: #c0392b;
}

green {
		color: #27ae60;
}



/* scroll bar =========================*/

::-webkit-scrollbar {
		width: 2px;
		background-color: rgba(238, 238, 238, 0.1);
}

::-webkit-scrollbar-track {
		width: 2px;
}

::-webkit-scrollbar-thumb {
		background-color: #2196f3;
}

::-webkit-scrollbar-track-piece {
		background-color: rgba(238, 238, 238, 0.1);
}

::-webkit-scrollbar-corner {
		background-color: rgba(238, 238, 238, 0.8);
}

::-webkit-input-placeholder {
		color: #34495e;
}

::-moz-placeholder {
		color: #34495e;
}

:-ms-input-placeholder {
		color: #34495e;
}

:-moz-placeholder {
		color: #34495e;
}

/*image responsive*/
img {
    width: 100% !important;
    max-width: 600px !important;
    height: auto!important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}