@charset "UTF-8";
@import url('font.css');
@import url('app.css');
@import url('../font/typicons.min.css');
* {
    font: normal 16px "CourierPrime", courier, monospace;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    -webkit-font-smoothing: subpixel-antialiased;
    font-size: 16px;
    color: #80889A;
    height: 100%;
    background-color: #C7D5E4;
    /*
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;*/
}

a {
    color: #2196f3;
    text-decoration: none;
    font-weight: 300;
}

a.link {
    color: #2196f3;
    opacity: 0.82;
    text-decoration: none;
}

a.visited {
    color: #2196f3;
    opacity: 0.82;
    text-decoration: none;
}

a.hover {
    color: #2196f3;
    opacity: 1;
    text-decoration: none;
}


/*smooth transition*/

.smooth {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

red {
    color: #c0392b;
}

green {
    color: #27ae60;
}


/* scroll bar =========================*/

::-webkit-scrollbar {
    width: 2px;
    background-color: rgba(238, 238, 238, 0.1);
}

::-webkit-scrollbar-track {
    width: 2px;
}

::-webkit-scrollbar-thumb {
    background-color: #2196f3;
}

::-webkit-scrollbar-track-piece {
    background-color: rgba(238, 238, 238, 0.1);
}

::-webkit-scrollbar-corner {
    background-color: rgba(238, 238, 238, 0.8);
}

::-webkit-input-placeholder {
    color: #34495e;
}

::-moz-placeholder {
    color: #34495e;
}

:-ms-input-placeholder {
    color: #34495e;
}

:-moz-placeholder {
    color: #34495e;
}