<!DOCTYPE html>
<head>
<title>404</title>
    <meta name='viewport' content ='width=device-width, initial-scale=1, user-scalable=no'>
    <link rel='icon' type='image/png' href='/assets/mi6_logo_16.png' sizes='16x16'>
    <link rel='icon' type='image/png' href='/assets/mi6_logo_32.png' sizes='32x32'>
    <link rel='icon' type='image/x-icon' href='/assets/favicon.ico'>
    <link rel='shortcut icon' type='image/x-icon' href='/assets/favicon.ico'>
</head>
<body bgcolor="#262D47">
    <div style="width: 300px;height: 60px;position: absolute;margin: auto;left: 0;right: 0;top: 0;bottom: 0; color: white; font-family: 'Open Sans', Arial, sans-serif;">
        <div style="width: 80px; height: 60px; line-height: 60px;font-size: 24px; border-right: 2px solid rgba(255,255,255,0.5);padding: 0 10px 0 10px; float: left;box-sizing: border-box;">404</div>
        <div style="width: 220px;line-height: 60px; float: left; padding: 0 10px 0 10px; box-sizing: border-box;text-align: center;">Oops, Error !</div>
    </div>
</body>