extends pages

block page_content
	div(class='app_about')
		div(class='app_about_img')
			img(src='/assets/github-U.png' class='app_about_u')
		div(class='app_name_txt')
			| Mahesh Ranaweera
		div(class='app_name_txt')
			| (mi6softlab)
		div(class='app_about_txt')
			| I am a Software Engineering student (Bachelor of Engineering Software,anticipated in 2018) at UOIT. I like programming, building robotic platforms, web applications, websites and graphic designs. I am based on Toronto, Canada. 
		div(class='app_bottom_block')
			- var url = 'https://www.dropbox.com/s/mocvg8ssojr4qb0/Mahesh%20Ranaweera_resume_web.pdf?dl=0';
			a(href=url)
				| Resume <span class="typcn typcn-document-text">

	include social_panel.pug