extends pages

block content

block page_content
  div(class='app_page_wrapper')
    div(class='app_card_cover half_w')
      div(class='app_card full_w')
        div(class='app_card_header')
          div(class='app_card_text')
            | Palette APP
          div(class='app_card_time')
            | 2017-05-06
        div(class='app_card_content')
          | Content
        div(class='app_card_footer')
          - var url='www.google.com';
          a(href=url)
            | Download <span class="typcn typcn-download">

    div(class='app_card_cover half_w')
      div(class='app_card full_w')
        div(class='app_card_header')
          div(class='app_card_text')
            | Palette APP
          div(class='app_card_time')
            | 2017-05-06
        div(class='app_card_content')
          | Content
        div(class='app_card_footer')
          - var url='www.google.com';
          a(href=url)
            | Download <span class="typcn typcn-download">

    div(class='app_card_cover half_w')
      div(class='app_card full_w')
        div(class='app_card_header')
          div(class='app_card_text')
            | Palette APP
          div(class='app_card_time')
            | 2017-05-06
        div(class='app_card_content')
          | Content
        div(class='app_card_footer')
          - var url='www.google.com';
          a(href=url)
            | Download <span class="typcn typcn-download">