extends pages

block content

block page_content
	div(class='app_page_header')
		div(class='app_page_icon')
			<span class="typcn typcn-user">
		div(class='app_page_title')
			| About Page
	div(class='app_page_wrapper')
		| Design