extends layout

block content
	div(class='app_header' onclick='display("app_menu");')
		div(class='app_icon fl_left smooth')
			<span class="typcn typcn-th-menu">
	
	div(class='app_logo center_div')
		div(class='mi6softlab_logo')

