//index
doctype html
html
	head
		title=title
		link(rel='stylesheet', href='/style/main.css')
	body
		h1 Mahesh Ranaweera
		h1=message 
		div(class='header')
			This is the header<span class="typcn typcn-arrow-left">
			<span class="typcn typcn-folder">