div(class='index_nav')
  div(class='nav_btn_outline')
    - var url = '/';
    a(href=url)
      div(class='nav_btn smooth')
        | HOME <span class="typcn typcn-home">

  div(class='nav_btn_outline')
    - var url = 'dev';
    a(href=url)
      div(class='nav_btn smooth')
        | DEV <span class="typcn typcn-code">

  div(class='nav_btn_outline')
    - var url = 'design';
    a(href=url)
      div(class='nav_btn smooth')
        | DESIGN <span class="typcn typcn-lightbulb">

  div(class='nav_btn_outline')
    - var url = 'about';
    a(href=url)
      div(class='nav_btn smooth')
        | ABOUT ME <span class="typcn typcn-user">