//layout
doctype html
html
  head
    title=title
    link(rel='stylesheet', href='/style/main.css')
    script(src='/script/app_ui.js')
    script(src='/script/jquery.min.js')
    block head
  body(class='index')
    block content

    include app_nav.pug

    div(class='app_page_content')
      block page_content

    script(src='/script/masonry.js')
    script(src='/script/masonry_div.js')
