//layout
doctype html
html
  head
    title=title
    link(rel='stylesheet', href='/style/main.css')
    script(src='/script/app_ui.js')
    block head
  body(class='index')
    block content

    include app_nav.pug

    div(class='app_page_content')
      block page_content
